// {@import "../../node_modules/swiper/swiper-bundle"}; // Тестовое подключение стилей для swiper

main {
  padding: 0;
  .content {
    margin: 0;
    padding: 0;
    h1 {
      font-size: 65px;
    }
  }
}
